:root{
    --pink: #DE0C4B;
    --dark-blue: #020E1B;
    --blue: #0C1C2B;
    --light-blue:#0C2E53;
    --green:#02B573;
    --grey:#7E7E7E;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}

body{
    background-color: var(--blue);
    color: var(--white);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-element{
    position: absolute;
    z-index: 2;
    top: 145px;
    left: 85px;
    width: 200px;
    height: 200px;
    background: #3CBEDE;
    filter: blur(175px);    
}

/*HEADER*/

.header{
    padding-top: 44px;
}

.header__inner{
    padding: 31px 50px 41px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link{
    display: flex;
    flex-wrap: wrap;
    line-height: 19px;
    align-items: center;
}

.logo__name{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 19px;
}

.header__number{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.number__link{
    text-decoration: none;
}

.munu__list-item{
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}

.menu__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid var(--pink);
    border-radius: 20px;
    padding: 20px 40px;
}
.get__btn{
    border: 3px solid var(--pink);
    background: #DE0C4B;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 40px;
    color: var(--white);
}

.header__content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.header__text{
    padding-top: 63px;
    flex-wrap: wrap;
    max-width: 50%;
}

.header__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 18px;
}

.header__description{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 60px;
}

.heder__btn>.get__btn{
    font-size: 24px;
    line-height: 28px;  
}

.header__img{
    min-width: 455px;
    min-height: 442px;
    background-size: 442px;
    background: url(../img/header-content-img.png);
    background-repeat: no-repeat;
    margin-top: 20px;
    /* object-fit: cover;*/
} 

/*SERVICES*/
/* 
.services__inner{
    text-align: center;
}

.services__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding: 106px 0 50px;
}

.services__inner-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    background: var(--dark-blue);
    border-radius: 20px 20px;
    position: relative;
}

.services__item{
    max-width: 30%;
}

.services__item:nth-child(2n){
    position: absolute;
    z-index: 2;
    max-width: 40%;
    background: var(--light-blue);
    border-radius: 20px;
    top: -20px;
    padding: 0 60px 57px;
}

.services__item-img{
    width: 61px;
    padding: 62px 0 20px;
}

.services__item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}

.services__item-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0 48px 57px;
} */

/*INCOME*/

.income__titile{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding: 122px 0 50px;
}

.income__content{
    display: flex;
    justify-content: space-evenly;
    background: var(--dark-blue);
    border-radius: 40px;
    
}

.income__content-item{
    max-width: 50%;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.income__content-list{
    list-style-position: inside; 
}

.income__list-item{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 20.5px 0 37px;
    border-bottom: 1px solid var(--white);
}

.income__list-item::marker{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.income__list-item:last-child{
    border-bottom: none;
}

.income__content-img{
    width: 500px;
    height: 481px;
}


/*FOOTER*/

.footer{
    background: var(--dark-blue);
}

.footer__inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

.footer__inner-copyright,
.footer__inner-warning,
.ooter__inner-list-contact
{
    max-width: 33%;
    flex-wrap: wrap;
}

.foooter__copyright{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.footer__description{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 15px;
}

.footer__registration-number,
.footer__address,
.foooter__copyright-rules{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 15px;
}

.footer__registration-number > span,
.footer__address > span,
.foooter__copyright-rules > span{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.footer__warning{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 5px;
}

.footer__warning-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.footer__warning-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: var(--white);
}

.number__link{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;
    display: block;
    padding-bottom: 15px;
    text-align: right;
}

.email__link{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;
    display: block;
    text-align: right;
}

.email__link > span{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-right: 5px;
}

.footer__nav-item{
    list-style-type: none;
    padding-top: 15px;
    text-align: right;
}

.footer__nav-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}


/*MEDIA*/

@media screen and (max-width: 1087px) {
    
    /*INCOME*/

    .income__content-img{
        width: 419.41px;
        height: 419.41px;
    }

}


@media screen and (max-width: 1000px) {
    /*HEADER*/

    .header__inner{
        background: var(--dark-blue);
        border-radius: 40px;
    }

    .header__number{
        display: none;
    }

    .header__title{
        font-size: 36px;
        line-height: 42px;
    }

    .header__description{
        font-size: 20px;
        line-height: 23px;
    }

    .header__img{
        min-width: 319px;
        min-height: 319px;
        background-size: 319px;
        margin-top: 55px;
        /* object-fit: cover;*/
    } 

    /*SERVICES*/

    
    /*INCOME*/

    .income__titile{
        padding: 130px 0 50px;
    }

    .income__content-item{
        padding: 30px 20px 20px;
    }

    .income__list-item{
        font-size: 16px;
    line-height: 19px;
        padding: 24.5px 0 41px;
    }
    

    /*FOOTER*/
    .footer__inner-copyright,
    .footer__inner-warning{
        max-width: 45%;
    }

    .footer__inner-list-contact{
        max-width: 100%;
    }

    .number__link,
    .email__link{
        display: inline-flex;
        padding: 20px 15px 0 0;
    }

    .footer__nav-item{
        display: inline-block;
        padding-top: 10px;
        padding-right: 50px;
    }

    .footer__nav-item:last-child{
        padding-right: 0;
    }


}

@media screen and (max-width: 929px){
    /*INCOME*/
    .income__content{
        display: block;
        justify-content: center;
    }

    .income__content-item{
        max-width: 100%;
    }

    .income__content-item:last-child{
        text-align: center;
        padding:0 ;
    }

    .income__list-item:last-child{
        padding-bottom: 0px;
    }

    .income__content-img{
 
        width: 508.42px;
        height: 508.42px;
    }
}

@media screen and (max-width: 768px){
    /*HEADER*/
    .header__inner{
        padding: 25px 30px 30px;
    }

    .header__description{
        padding-bottom: 40px;
    }
    
    .logo__name{
        display: none;
    }

    /*SERVICES*/

    .services__title{
        padding: 87px 0 30px;
    }


    /*INCOME*/
    .income__titile{
        padding: 86px 0 50px;
        font-size: 32px;
        line-height: 38px;
    }

    .income__content-item{
        padding: 30px 20px 0;
    }

    .income__list-item{
        padding: 34.5px 0 51px;
    }
    
}

@media screen and (max-width: 725px){
    /*HEADER*/
    .header__inner{
        padding: 25px 20px 30px;
        background: url(../img/header-bg.png);
        background-repeat: no-repeat;
        background-size:cover;
    }

    .header__img{
        display: none;
    }

    .header__text{
        text-align: center;
        max-width: 100%;
    }

    .logo__link{
        display: block;
    }

    .logo__big-size{
        display: none;
    }

    /*SERVICES*/


    /*INCOME*/
}

@media screen and (max-width: 610px){
    /*INCOME*/
    .income__content-img{
        width: 300.96px;
        height: 300.96px;
    }
}


@media screen and (max-width: 520px){
    /*HEADER*/

    .munu__list-item{
        padding-left: 20px;
    }

    .menu__link{
        padding: 10px 20px;
    }

    .get__btn{
        padding: 10px 20px;
    }

    .heder__btn>.get__btn{
        font-size: 24px;
        line-height: 28px; 
        padding: 20px 67px; 
    }


    /*SERVICES*/


    /*INCOME*/

    
}

@media screen and (max-width: 440px){
    /*HEADER*/
    .header__content{
        padding-top: 32px;
    }
    .header__title{
        font-size: 32px;
        line-height: 38px;
    }

    .header__description{
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 30px;
    }

    .header__img{
        display: none;
    }

    /*SERVICES*/

    .services__title{
        font-size: 24px;
        line-height: 28px;
        padding-top: 50px;
    }

    /*INCOME*/

    .income__titile{
        padding: 50px 0 30px;
        font-size: 24px;
        line-height: 28px;
    }


    /*FOOTER*/

    .footer__inner{
        display: inline-block;
        padding: 20px 0;
    }

    .footer__inner-copyright,
    .footer__inner-warning{
        max-width: 100%;
    }

    .footer__nav-item{
        display:block;
        text-align: left;
        padding-top: 10px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 425px){
    /*HEADER*/
    .header__content{
        padding-top: 22px;
    }
    .header__inner{
        padding: 17px 10px 30px;
    }

    .munu__list-item{
        padding-left: 10px;
    }

    .menu__link{
        font-size: 12px;
        line-height: 14px;
    }

    .get__btn{
        font-size: 12px;
        line-height: 14px;
    }

    .header__title{
        font-size: 24px;
        line-height: 28px;
    }

    .header__description{
        padding-bottom: 20px;
    }

    .heder__btn>.get__btn{
        font-size: 16px;
        line-height: 19px; 
        padding: 15px 70px; 
    }

    /*SERVICES*/

    .services__title{
        font-size: 20px;
        line-height: 23px;
    }


    /*INCOME*/

    .income__titile{
        font-size: 20px;
        line-height: 23px;
    }


    .income__content-img{
        width: 252.67px;
        height: 252.67px;
    }
}

@media screen and (max-width: 360px){
    /*FOOTER*/
    
    .footer__inner-warning{
        padding-top: 15px;
    }

    .number__link,
    .email__link{
        display: block;
        text-align: left;
        padding-top: 15px;
    }
}